.app-test {
  width: 100vw;
  height: 100vh;
  background-color: rgb(100, 100, 100);
  .quection__container {
    color: white;
    .question__options {
      .question__option {
        cursor: pointer;
        user-select: none;
      }
      @import "./scss/chooseOption/chooseOption";
    }
  }

  .trans {
    &-enter-active,
    &-leave-active {
      transition: all 1s;
    }
    &-enter-active {
      transform: translateX(110%);
      opacity: 0;
    }
    &-enter-to {
      transform: translateX(0);
      opacity: 1;
    }
    &-leave-active {
      position: absolute;
    }
    &-leave-to {
      transform: translateX(-110%);
      opacity: 0;
    }
  }
  .transToBottom {
    &-enter-active,
    &-leave-active {
      transition: all 1s;
    }
    &-enter-active {
      transform: translateY(-100%);
      opacity: 0;
    }
    &-enter-to {
      transform: translateY(0);
      opacity: 1;
    }
    &-leave-active {
      position: absolute;
    }
    &-leave-to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}
