.app-funnyImage {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #efe;
  .images {
    .ratio {
      background-size: cover, auto;
      background-position: center;
      &.bg-overlay {
        background-blend-mode: overlay;
      }
      &.bg-retro {
        background-blend-mode: overlay;
        background-size: cover, 60px 60px;
        background-position: center, 5px 5px;
        background-blend-mode: hard-light;
      }
      &.bg-meshed {
        background-size: cover, 4px 4px;
        background-blend-mode: darken;
      }
      &.bg-diff {
        background-blend-mode: difference;
        background-size: cover, cover;
      }
    }
  }
}
