@import "./variables";
@import "./mixin/mixin";

.wasClicked.fail-choose {
  @include choise(
    $color: $failColor,
    $scale: $failScale,
    $duration: $failDuration,
    $name: "fail"
  );
}
.wasClicked.success-choose {
  @include choise(
    $color: $successColor,
    $scale: $successScale,
    $duration: $successDuration,
    $name: "success"
  );
}
