@mixin choise($color, $scale, $duration, $name) {
  animation: keys-#{$name} $duration 2 forwards;

  @keyframes keys-#{$name} {
    33% {
      color: $color;
    }
    50% {
      transform: scale($scale);
    }
    66% {
      color: unset;
    }
    100% {
      transform: unset;
      color: $color;
    }
  }
}
